version: 2
updates:
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "quarterly"
      labels:
          - "dependencies"
      open-pull-requests-limit: 5

    - package-ecosystem: "docker"
      directory: "/"
      schedule:
          interval: "monthly"
      labels:
          - "dependencies"
      open-pull-requests-limit: 5
      ignore:
          - dependency-name: "*"
            update-types: ["version-update:semver-minor"]

    - package-ecosystem: "docker-compose"
      directory: "/"
      schedule:
          interval: "monthly"
      labels:
          - "dependencies"
      open-pull-requests-limit: 5

    - package-ecosystem: "npm"
      directory: "/frontend"
      schedule:
          interval: "weekly"
      labels:
          - "dependencies"
      open-pull-requests-limit: 5
      groups:
          frontend-dependencies:
              patterns:
                  - "*"

    - package-ecosystem: "npm"
      directory: "/server"
      schedule:
          interval: "weekly"
      labels:
          - "dependencies"
      open-pull-requests-limit: 5
      groups:
          server-dependencies:
              patterns:
                  - "*"
